.nav li { 
    display: inline;
    font-family: Arvo, 'serif';
}

.nav a { 
    color: #5a5a5a;
    font-size: 14px;
    font-weight: bold;
    font-family: inherit;
    padding: 20px;
    text-transform: uppercase;
    
}

.main_area {
    background-image: url(cimmy.jpg);
    animation-fill-mode: backwards;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_area h1 {
    color: #fff;
    font-family: Arvo, 'serif';
    font-size: 60px;
}


